extends layout
block content

    // Wrapper
    #wrapper
    
        // LIST
        header List: Geo-Fencing with Beacons
        #list
            table
                thead
                    th MAC-Adresse
                    th Benuzter
                    th registriert
                    th TIMESTAMP
                    th löschen
                tbody
        // /LIST

        // UPDATE USER
        header Benutzernamen setzen
        #updateUser
            fieldset
                input#inputMacAdress(type='text', placeholder='AA:AA:AA:AA:AA:AA')
                input#inputUser(type='text', placeholder='Benutzernamen')
                btnblue#btnUpdateUser Senden
        // / UPDATE USER

        // INFO
        header Info
        #listInfo
            table
                thead
                    th Owner
                    th Beacon
                    th Range(m)
                tbody
        // /INFO

        // UPDATE DATA
        header Update Data
        #updateData
            fieldset
                input#inputMacAdress(type='text', placeholder='MAC-Adresse')
                input#inputBeacons(type='text', placeholder='Beacons')
                br
                btnblue#btnUpdateData Daten senden
        // /UPDATE DATA 
        
        // GET DATA
        header Get Data
        #getData
            fieldset
                input#inputBeacons(type='text', placeholder='Beacons#Range')
                input#inputOffset(type='text', placeholder='offset')
                input#inputRegistered(type='text', placeholder='0/1')
                br
                btnblue#btnGetData Daten holen
        // /Get DATA 

    // /WRAPPER
