extends layout
block content

    img(src="http://localhost:3000/favicon.ico" height="264" width="264" alt="" align="center" hspace="200" vspace="100") 
    // Wrapper
    #wrapper

        // LIST
        header List: Geo-Fencing with Beacons
        #list
            table
                thead
                    th MAC-Adresse
                    th Benuzter
                    th Status
                    th TIMESTAMP
                    th löschen
                tbody
        // /LIST

        // UPDATE USER
        header Benutzernamen setzen
        #updateUser
            fieldset
                input#inputMacAdress(type='text', placeholder='AA:AA:AA:AA:AA:AA')
                input#inputUser(type='text', placeholder='Benutzernamen')
                btnblue#btnUpdateUser Senden
        // / UPDATE USER

        // INFO
        header Info
        #listInfo
            table
                thead
                    th Owner
                    th Beacon
                    th Range(m)
                tbody
        // /INFO

        // UPDATE DATA
        header Update Data
        #updateData
            fieldset
                input#inputMacAdress(type='text', placeholder='MAC-Adresse')
                input#inputBeacons(type='text', placeholder='Beacons')
                br
                btnblue#btnUpdateData Senden
        // /UPDATE DATA 
        
        // GET DATA
        header Get Data
        #getData
            fieldset
                input#inputBeacons(type='text', placeholder='Beacons#Range')
                input#inputOffset(type='text', placeholder='offset')
                input#inputStatus(type='text', placeholder='0/1')
                br
                btnblue#btnGetData Senden
        // /Get DATA 

    // /WRAPPER
